doctype html
html(xmlns:fb="http://ogp.me/ns/fb#")
  head
    title= '#picsofpix'
    meta(property="og:image", content="http://scontent-a.cdninstagram.com/hphotos-xaf1/t51.2885-15/10748130_394645987350373_1601223877_n.jpg")
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js')
    link(rel='stylesheet', href='http://res.cloudinary.com/hn5egfnw4/raw/upload/v1409692063/grid.css')
    script(src='/javascripts/javascript.js')
    link(rel='stylesheet', href='http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css')
    link(rel='icon' href='http://scontent-a.cdninstagram.com/hphotos-xpa1/t51.2885-15/10725052_313632788842025_1198285641_n.jpg' type='image/x-icon')
  body
    div#header
        div.frame_12
            div.grid_12
                h1 Pics of Pixel
    div.frame_12
        div#content
            block content
    div#env
    div.frame_12
        .grid_12
            div.footer.wall.margin_t_10.pad_b(style="width: 100%")
                div#socialLinks
                    .wall.pad_r_10.pad_l.pad_r
                        <a class="social-twitter" target="_blank" href="https://twitter.com/jonathanhculver"></a>
                    .wall.pad_r_10.pad_l.pad_r
                        <a class="social-instagram" target="_blank" href="http://instagram.com/jonathanhculver"></a>
                    .wall.pad_r_10.pad_l.pad_r
                        <a class="social-github" target="_blank" href="http://github.com/jonathanhculver"></a>
                    .wall.pad_r_10.pad_l
                        <a class="social-email" target="_blank" href="mailto:jon@culverlabs.co"></a>
